/*在1200px(包含)以下，裡面的樣式會被開啟，並覆蓋前面的樣式*/
@mixin pad
  @media (max-width:1200px)
    @content

@mixin mobile
  @media (max-width:600px)
    @content

* 
  font-size: 20px
  margin: 0
  padding: 0
img
  display: block // 移除img底部的空白

.navigator
  display: flex
  justify-content: space-between
  align-items: center
  margin: 10px 20px
  .menu-list
    display: flex
    align-items: center
    span
      display: inline-block
      @include mobile
        display: none
      margin-left: 20px
    img
      display: none
      @include mobile
        display: block
      width: 24px

.hero
  height: 300px
  background: #cffafe
  display: flex
  justify-content: center
  align-items: center
  h1
    font-size: 40px

.container
  width: 1200px
  @include pad
    width: 90%
  margin: 40px auto

.item
  background: #cffafe
  img
    max-width: 100% // 防止圖片破版
    object-fit: cover
    object-position: center

.top-el
  display: grid
  grid-template-columns: 1fr 1fr
  @include mobile
    grid-template-columns: 1fr
  grid-gap: 20px
  .item-horizontal
    display: flex
    justify-content: left
    align-items: center
    img
      width: 80px
      height: 50px
    p
      margin-left: 10px

.other-el
  display: grid
  grid-template-columns: repeat(4, 1fr)
  margin-top: 20px
  @include pad
    grid-template-columns: repeat(2, 1fr)
  @include mobile
    grid-template-columns: 1fr
  grid-gap: 20px
  .item-vertical
    position: relative
    img
      width: 100%
      height: 240px
    p
      position: absolute
      bottom: 0
      background: rgba(255,255,255, 0.4)
      padding: 15px 0
      text-align: center
      width: 100%
    // 這裡直接寫i會沒辦法套用style誒
    .icon
      position: absolute
      top: 15px
      right: 15px
      color: #fde047




